body {
	background-color: #3eb2c9;
	font-family: 'Rubik Mono One', sans-serif;
	font-size: 20px;
	margin: 15px;
}

.breed {
	background-color: black;
	color: white;
	margin: 0 5px 5px 0;
	padding: 10px;
	border-radius: 20px;
	border-color: #b1a8f7;
}

#add-puppy:hover,
.breed:hover {
	background-color: #b1a8f7;
}

#puppy-input {
	width: 400px;
	margin: 15px 0;
	border-color: #b1a8f7;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(119, 119, 119, 0.5);
}

#add-puppy {
	background-color: black;
	color: white;
	padding: 5px;
	margin-bottom: 10px;
	border-color: #b1a8f7;
}
